/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

:root {
  --green-color: #087f5b;
  --gray-color: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  background: linear-gradient(to right, #f783ac 0%, #e64980 100%);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 800px;
  height: 535px;

  background: #e64980;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.section_1 {
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #5f3dc4, #582d99);
  padding: 45px;
}

.section_1 header {
  color: #fff;
  font-size: 22px;
}

label {
  display: block;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid rgba(210, 215, 211, 0.3);
  outline: none;
  background: transparent;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
}

input {
  width: 100%;
  height: 30px;
}

textarea {
  width: 100%;
  height: auto;
}

.name {
  margin-top: 35px;
}

.send-message {
  color: #fff;
  border: none;
  outline: none;
  background: #e64980;
  padding: 15px 15px;
  font-weight: bold;
  letter-spacing: -0.6px;
  border-radius: 4px;
  cursor: pointer;
}

.section_2 {
  width: 50%;
  height: 100%;
  transform: translate(100%, -100%);
  padding: 45px;
  background: #fafafa;
}

.section_2 header {
  font-size: 22px;
  color: #212529;
  margin-bottom: 10px;
}

.section_2 header::after {
  content: " ";
  display: block;
  border-bottom: 3px solid #e64980;
  width: 15%;
}

.section_2 span {
  color: #868e96;
  font-size: 14px;
}

ul {
  list-style: none;
  margin-top: 40px;
  margin-left: 55px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

li.address {
  position: relative;
}

li.address::before {
  content: "\f0da";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;

  position: absolute;
  left: -22.5%;
  top: 50%;
  transform: translate(0, -50%);
}

li.address:after {
  content: " 198 West 21th Street, Suite 721 New York NY 10016";
  color: #868e96;
  font-size: 0.85em;
}

li.phone::after {
  content: " +1 235 235 5988";
  color: #adb5bd;
  font-size: 0.95em;
}

li.email::after {
  content: " info@yoursite.com";
  color: #adb5bd;
}

li.website::after {
  content: " yoursite.com";
  color: #adb5bd;
}
